@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	padding: 0;
	margin: 0;
	background-color: #302D41;	
	color: #D9E0EE;
	font-family: 'Roboto';
}

header {
	background-color: #1E1E2E;
	display: flex;
	flex-direction: row;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	position: fixed;
	right:0;
	top:0;
}

header a {
	color: white;
	text-decoration: none;
	padding: 5px;
	margin-right: 10px;
}

header a:hover {
	background-color: #D9E0EE;
	color: black;
}

footer {
	background-color: #1E1E2E;
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 100px;
}

footer a {
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 10px;
}

footer a:hover {
	background-color: white;
	color: black; 
}

.main {
	margin-top: 110px;
}

article {
	margin: 20px;
}

.canvas_container {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}

.info_block {
	background-color: #1E1E2E;
	padding: 20px;
	border-radius: 20px;
}
